
.feature-list__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.feature-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .feature-list__item {
   
    width: 100%;
  
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }
}

.feature-list__background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--back-color);
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}
