.container.footer {
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.footer {
  background-color: var(--second-back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-information .footer-items {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--acent-color);
  }
}

.list-information .list-information-items:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-items.white {
  color: var(--white-color);
}

.list-information {
  list-style: none;
}

.logo-studio-footer {
  color: var(--white-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.social-title-footer {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.social-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer {
  fill: currentColor;
  &:hover,
  &:focus {
    background-color: var(--acent-color);
  }
}

.subscription-title-foooter {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.mail-footer {
  display: flex;
  align-items: center;
  width: 290px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  height: 50px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.subscription-form-foooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 12px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.subscription-icon {
  margin-left: 10px;
  fill: var(--white-color);
}

.left-side-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.list-information .list-information-items {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.centr-side-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    align-items: baseline;
  }
}

.right-side-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    align-items: baseline;
  }
}
