.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* visibility: visible; */
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 290px;
  height: 650px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    @media screen and (min-width: 480px) {
      width: 450px;
      height: 609px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.register-form {
  text-align: center;
}

.register-title {
  display: block;
  font-size: 20px;
  // line-height: 1.15;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.register-group {
  margin-bottom: 20px;
}

.register-label {
  position: relative;
  display: block;
}

.register-label:not(:last-child) {
  margin-bottom: 10px;
}

.register-label-name {
  display: block;
  margin-bottom: 4px;
  padding-left: 2px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.register-input,
.user-comment {
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  color: var(--title-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--acent-color);
  }
}

.user-comment {
  padding: 12px 16px;
  height: 120px;

  resize: none;
}

.register-icon {
  position: absolute;
  top: 29px;
  left: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-input:hover + .register-icon,
.register-input:focus + .register-icon {
  fill: var(--acent-color);
}

.agreement-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 31px;
  gap: 9px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.agreement-text {
  font-size: 12px;
  line-height: calc(14px / 12px);

  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
  font-size: 14px;
  line-height: calc(24px / 14px);
}
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-group-form:checked + .agreement-icon .icon-uncheck {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-group-form:checked + .agreement-icon .icon-check {
  opacity: 1;
}

.agreement-group-form:focus + .agreement-icon .icon-uncheck,
.agreement-group-form:hover + .agreement-icon .icon-uncheck {
  fill: var(--acent-color);
}

.agreement-group-form {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-link {
  color: var(--acent-color);
}

/* Кнопки модалки */

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: pointer;
}

.modal-button:hover .modal-button-icon .close,
.modal-button:focus .modal-button-icon .close {
  fill: var(--acent-color);
}

.modal-agreement-btn {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 52px;
  background-color: var(--acent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
