.section-no-pading {
  @media screen and (max-width: 1199px) {
      display: none;
    }
}


.job-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  .job-list__items {
    position: relative;

    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }

  .job-list__items:nth-child(3n) {
    margin-right: 0;
  }
}

.job-list__img-over {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.job-list__titile {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
